{% extends 'generic/object_list.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load perms %}
{% load plugins %}
{% load tabs %}


{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if ui_active_tab == 'all' %}active{% endif %}" href="{{ tab_urls.all }}">
        All Devices <span class="badge text-bg-secondary">{{ tab_counts.all }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if ui_active_scope == 'active' %}active{% endif %}" href="{{ tab_urls.active }}">
      Active Devices <span class="badge text-bg-secondary">{{ tab_counts.active }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if ui_active_scope == 'planned' %}active{% endif %}" href="{{ tab_urls.planned }}">
        Planned  <span class="badge text-bg-secondary">{{ tab_counts.planned }}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if ui_active_scope == 'excluded' %}active{% endif %}" href="{{ tab_urls.excluded }}">
        Excluded <span class="badge text-bg-secondary">{{ tab_counts.excluded }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if ui_active_scope == 'terminated' %}active{% endif %}" href="{{ tab_urls.terminated }}">
        Terminated <span class="badge text-bg-secondary">{{ tab_counts.terminated }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if ui_active_tab == 'filters' %}active{% endif %}" href="{{ tab_urls.filters }}">
        Filters
      </a>
    </li>
  </ul>
{% endblock tabs %}

{% block filters %}
  {% if show_filters %}
    {{ block.super }}
  {% endif %}
{% endblock filters %}

