{% extends 'generic/object_list.html' %}

<div class="alert alert-info">
  <div><strong>DEBUG tab_urls</strong></div>
  <div>all: {{ tab_urls.all }}</div>
  <div>planned: {{ tab_urls.planned }}</div>
  <div>active: {{ tab_urls.active }}</div>
  <div>excluded: {{ tab_urls.excluded }}</div>
  <div>terminated: {{ tab_urls.terminated }}</div>
</div>

{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active_scope == 'all' %}active{% endif %}" href="{{ tab_urls.all }}">All Devices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_scope == 'planned' %}active{% endif %}" href="{{ tab_urls.planned }}">Planned</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_scope == 'active' %}active{% endif %}" href="{{ tab_urls.active }}">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_scope == 'excluded' %}active{% endif %}" href="{{ tab_urls.excluded }}">Excluded</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_scope == 'terminated' %}active{% endif %}" href="{{ tab_urls.terminated }}">Terminated</a>
    </li>

    <li class="nav-item ms-auto">
      <a class="nav-link {% if show_filters %}active{% endif %}" href="{{ tab_urls.filters }}">Filters</a>
    </li>

    {# Include NetBox's default tab(s) e.g. Results #}
    {{ block.super }}
  </ul>
{% endblock tabs %}

{% block filters %}
  {% if show_filters %}
    {{ block.super }}
  {% endif %}
{% endblock filters %}
